body {
    background-color: burlywood;
}

b {
background: wheat;
text-decoration: underline;
padding: 2px;
position: sticky;
color: red;
}

h1 {
    text-align: center;
    text-decoration: underline;
}

input {
    border: 3px solid orange;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 1px;
    margin-bottom: 1px;
    padding: 4px;
}

fieldset {
    text-align: center;
}